#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 40rem;
  width: 50rem;
  border-radius: 30px;
  align-items:center;
  font-size: 1rem;
  position: relative;


}

.header {
  font-size: 1rem;
  color: black;
  width: 75%;
  padding: 10px;
  margin:10px;
  margin-top:75px;
  height:10%;
  font-size:5rem;
}

.header2 {
  font-size: 1rem;
  color: black;
  width: 75%;
  padding: 10px;
  margin:10px;
  height:10%;
  font-size:3rem;
}

.header3 {
  font-size: 1rem;
  color: black;
  width: 75%;
  height:10%;
  font-size:3rem;
}

.button {
  margin: 30px;
  padding: 10px;
  margin-top:50px;
  margin-right:150px;
  width: 75px;
  border-radius: 20px;
  background-color: #F07AB6;
  transition: transform 0.2s ease-in-out; 
}

.button:hover {
  transform: scale(5); 
}


.button2 {
  position: absolute;
  margin: 30px; 
  padding: 10px; 
  margin-top: 50px;
  width: 75px;
  border-radius: 20px;
  background-color: lightgrey;
  transition: top 0.2s, left 0.2s;
}

.celebration-gif {
  margin-top: 50px;
  max-width: 400px;
  border-radius: 20px;
}


.container-expanded {
  height: 45rem; 
}

.hearts-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.heart {
  position: absolute;
  top: -50px;
  font-size: 2rem;
  animation: fall linear infinite;
  opacity: 0.8;
}

@keyframes fall {
  0% {
    top: -50px;
    transform: rotate(0deg);
  }
  100% {
    top: 100%;
    transform: rotate(360deg);
  }
}



